    GLOBAL_SETTINGS
    LAB_MASTER_SEED mmo_network_steg_student_master_seed
    REGISTRY tmanh191
NETWORK SOME_NETWORK
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.254
NETWORK DETECTOR_NETWORK
     MASK 192.168.100.0/24
     GATEWAY 192.168.100.254
CONTAINER receiver
     USER ubuntu
     X11 NO
     SOME_NETWORK 192.168.1.20
CONTAINER sender
     USER ubuntu
     X11 NO
     DETECTOR_NETWORK 192.168.100.3
CONTAINER detector
     USER ubuntu
     X11 NO
     SOME_NETWORK 192.168.1.1
     DETECTOR_NETWORK 192.168.100.1
