    GLOBAL_SETTINGS
    LAB_MASTER_SEED mmo_network_steg_student_master_seed
    REGISTRY tmanh191
NETWORK SOME_NETWORK
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.1
CONTAINER receiver
     USER ubuntu
     X11 YES
     SOME_NETWORK 192.168.1.20
CONTAINER sender
     USER ubuntu
     X11 YES
     SOME_NETWORK 192.168.1.3
